<h1>Liste des recettes en ADMIN</h1> <br />
<ul>
  <% @recette.each do |user, recette| %>
    <li>
      <%= user.prenom %> <%= user.nom %>
        <ol>
          <% user.recettes.each do |recette| %>
            <li>
              <a target=_blank href=recettes/<%= recette.id %>><%= recette.titre %></a>
            </li>
          <% end %>
        </ol>
    </li>
  <% end %>
</ul> 
